.u-fancy-load {
  > * {
    transform: scale(0);
    transition: transform .3s cubic-bezier(.55, 0, .1, 1); // "Swift Out" easing curve
    .no-js & {
      transform: scale(1);
    }
  }
  &--in {
    > * {
      transform: scale(1);
    }
  }
  &--out {
    > * {
      transform: scale(0);
    }
  }
}

/* #demo style - you can delete it */
* {
  box-sizing: border-box;
}

#videos-contaner {
  text-align: center;
  width: 80%;
  position: relative;
  display: block;
  div {

  }
  button {
    background: #e0e0e0;
    color: #757575;
    color: #424242;
    outline: none;
    border: none;
    padding: .5em 1em;
    + * {
      margin-left: 20px;
    }
  }
  ul {
    list-style: none outside none;
    padding: 0;
    margin: 10px -15px;
    width: 100%;
    > * {
      background-color: #c4dfff;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      margin: 5px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 1px 3px 0 rgba(black, .12), 0 1px 2px 0 rgba(black, 0.24);
      height: 180px;
      width: 250px;
    }
  }
  .video-card {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }

  .video-preview {
    max-width: 100%;
    max-height: 90%;
  }

  .video-title > p {
    text-align: center;
  }

  .video-title {
    width: 100%;
    background-color: #c4dfff;
    position: absolute;
    bottom: 0px;
    z-index: 2;
  }
}

h2 {
  text-align: center;
}