//
   Created by samhv on 3/21/17.

html
    head
        title= "test"
    body
        ul
            each val in test
                li
                    a(class='button', href="/watch/"val)= val
