//
   Created by samhv on 3/21/17.

html
    head
        title= "test"
    body

        each val in test
            div
                a(href="/watch/" + val.video)= val.name
                    img(src="/static/" + val.img height="200")
